*{
  margin: 0px;
  padding: 0px;
}
body {
  /* color: #000; */
  background-color: #fff;
  --var-primary-text: black;
}

[data-theme="dark"] body {
  background-color: #000;
  /* color: white; */
  --var-primary-text: white;
}